@media(max-width:1199px) {
    #hero:after {
        bottom:-10px;
    }
}
#header {
    z-index:999999999;
}
@media(max-width:700px) {
    #hero-social {
        position: absolute;
        bottom: 59px;
        left: -13px;
        z-index: 9999;
    }
    #hero-social ul li a {
        font-size:23px;
    }
    #hero video {
        height:452px;
    }
    #farming video {
        height:260px;
        margin-bottom:30px;
    }
    .classes .slide {
        height:420px;
        background:#000;
        background-image: none !important;
    }
    .classes .slide .text {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100vw;
        z-index: 9999;
        padding: 20px 40px;
    }
    .classes .slide .text p {
        font-size: 12px;
        text-align: justify;
    }
}

.addLiquid {
    background: #7f520b;
    color: #fff;
    padding: 8px 20px;
    border-radius: 21px;
    margin-left: 15px;
    border: 0;
    position: absolute;
    right: 30px;
    top: 0;
}
.addLiquid:hover {
    color:#fff;
    background: #683f0a;
}
